div.upper-nav
  = render partial: 'upper_menu', locals: { word: @word }
span.info_count You know #{@count.length} words
= image_tag ('search.png'), class: 'options_search_button', :remote => true
= render partial: 'form_search'
.content_word
  = render partial: 'random_word', locals: { word: @word }



