$upper-nav-color-blue: #3A50A1
$under-nav-color-dark-blue: #111833
$white: #F5F7FD
$R: 'Roboto', sans-serif

%button-base
  text-decoration: none
  outline: none
  border: none

.upper-nav
  width: 100%
  line-height: 7.6vmin
  font-size: 3vmin
  top: 0
  left: 0
  min-height: 20px
  display: inline-block
  background-color: $upper-nav-color-blue

  .REST-links
    @extend %button-base
    color: $white
    margin-left: 1.24vw
    font-weight: 400

    &:hover 
      color: #CED3E8
      transition-property: color
      transition-duration: 0.4s, 0.4s
    
    &:nth-last-child(3)
      background-color: $under-nav-color-dark-blue
      padding: 
        left: 2vmin
        right: 2vmin
      display: inline-block

      &:hover
        transition-property: color
        transition-duration: 0.4s, 0.4s
        color: #AA2727

  .to-words, .to-phrases, .to-google
    @extend %button-base
    color: $white
    float: right
    margin-right: 2.48vmin

  .to-google
    margin-right: 1.2vmin
    height: 6vmin
    padding-top: 0.7vmin

.content
  display: inline-block
  width: 100%
  min-height: 180px
  height: calc(100% - 8vmin)

  .under-nav
    width: calc(100% - 2.4vmin)
    background-color: $under-nav-color-dark-blue
    padding: 1.2vmin
    font-size: 2.4vmin
    line-height: 2.4vmin
    text-align: center
    box-shadow: 0 22px 48px -26px rgba(0,0,0,1)

    .options-search-button
      @extend %button-base
      height: 4.5vmin
      margin: -0.99vmin 1.1vmin 0
      z-index: 1
      position: absolute
      left: 0
      float: left
      cursor: pointer

    .info-count
      display: inline-block
      margin-top: -2.3vmin
      float: right
      cursor: default
      color: #A5AEBC

    .info-views 
      margin: 0 auto
      cursor: default
      display: table
      color: #A5AEBC

  .content-word
    width: 100%
    padding-top: 9vmin
    top: calc(50% - 2.7vw) 
    transform: translateY(-50%)
    position: relative
    text-align: center

    .window-word 
      background-color: $upper-nav-color-blue
      width: 64.5vmin
      display: block
      font-size: 5.6vmin
      margin: auto
      margin-top: 1%
      position: relative
      box-shadow: 2.8vmin 2.8vmin 0 0.2vmin rgba(17,24,51,1)

      .eng-field 
        font-weight: 300
        color: $white
        padding: 3.2vh
        margin: 0 auto
        border-bottom: 0.3vh solid $under-nav-color-dark-blue

      .rus-field
        font-weight: 300
        color: $white
        padding: 3.2vh
        margin: 0 auto
        background-color: #2E4089

      .hide-rus
        position: absolute
        background-color: #2E4089
        width: 100%
        margin: -3.2vh 0 0 -3.2vh
        cursor: pointer

    .next-word-div
      width: 100%
      padding-top: 3.5vw

      .get-word 
        @extend %button-base
        font-size: 7.7vmin
        text-align: center
        color: $white

    .footer 
      .created-at
        color: #707D93
        font-size: 2.2vmin
        cursor: default
        width: 100%
        text-align: center

.content-new
  width: 100%
  text-align: center
  top: 50%
  position: absolute
  transform: translateY(-50%)

.content-meanings
  width: 100%
  margin: 0 auto
  height: 100%

  .show-content
    top: 50%
    transform: translateY(-50%)
    width: 100%
    max-height: 70%
    margin: 2% auto
    position: absolute

    .show-word-table
      max-width: 80%
      min-width: 40%
      font-weight: 300
      margin: 0 auto
      color: $white
      text-align: center
      border-collapse: collapse
      
      tr.show-tr-word
        td.show-eng, td.show-rus
          font-size: 4.7vmin
          color: $white
          text-align: left
          padding:
            top: 1vw
            bottom: 1vw
            left: 1vw
          
          &.show-eng
            text-align: center
            cursor: pointer
            padding: 
              left: 2vw
              right: 2vw

      tr.show-tr
        height: 10vmin
        padding: 0
        margin: 0
        font-weight: 300
        box-shadow: 0 0 3vh -1vh #111833

        border-bottom: 1px solid #212D5C

        &:nth-last-child(1)
          border: none
        &:nth-last-child(2)
          border: none

        td.show-part-of-speach-td
          font-size: 4.7vmin
          background-color: #F5F7FD
          color: #3E3D53
          padding: 0 1vw
          margin: 0
          width: 13vw

        td.show-translation-td
          font-size: 3vmin
          margin: 0
          padding: 1vw
          background-color: #293973
          text-align: left

        td.examples-td
          background-color: #3B467C
          font-size: 2.4vmin
          padding: 1vw

.index-scroll-word
  height: calc(100% - 12.34%)
  overflow-y: scroll
  margin: 0 auto
  width: 100vw

  .index-word-table
    width: 100%
    border-collapse: collapse
    text-align: center

    tbody > tr:nth-child(odd)
      background-color: #18244D

    .index-tr
      color: $white
      font-size: 2.8vmin
      width: 100%
      cursor: default

      &:hover
        background-color: #111833

      .index-eng
        width: 50%
        text-align: right
        color: #F5F7FD

      .index-rus
        color: #F5F7FD
        text-align: left

      .index-rest-td
        color: $white
        
        &:last-child
          background-color: #111833

        .index-rest-td-a
          @extend %button-base
          color: $white

.sc
  color: $white
  margin-left: 2vw
  font-size: 2.8vmin

.scrolls
  @extend %button-base
  background: transparent
  color: $white
  margin: 0 auto
  font-size: 2.8vmin
  cursor: pointer
  &:last-child
    padding: 0

.scroll-id
  border: none
  background-color: transparent
  color: $white
  text-align: center
  width: 4vw
  margin:
    left: 2vw
    right: 2vw
  font-size: 2.8vmin
  outline: none

.create-field 
  @extend %button-base
  font-size: 4.5vmin
  font-family: $R
  height: 3.6vw
  text-align: center
  color: $white
  box-shadow: 2.8vmin 2.8vmin 0 0.2vmin rgba(17,24,51,1)
  background-color: $upper-nav-color-blue
  font-weight: 300
  width: 50vw
  margin-top: 7%

.create-button
  @extend %button-base
  font-size: 4vmin
  font-weight: 300
  font-family: $R
  color: $white
  cursor: pointer
  background-color: $upper-nav-color-blue
  margin-top: 4vh
  position: relative
  text-align: center

.edit-table 
  margin-top: 15%
  font-size: 2.5vh

  .edit-label
    color: $white
    padding:
      left: 5vw
      right: 0.7vw
    font-size: 3.5vmin

  tr.tr-edit
    background-color: $upper-nav-color-blue
    text-align: right
    margin: 0
    padding: 0

  .tr-edit > td > .edit-field
    @extend %button-base
    padding: 2vh
    color: $white
    background-color: #111833
    width: 36vw

  tr > td > .edit-button
    @extend %button-base
    background-color: #111833
    color: $white

  /******SIDEBAR******/

.sidebar-content
  position: fixed
  width: 38vmin
  height: inherit
  z-index: 10
  text-align: center
  color: $white
  left: 0
  font-size: 2vmin
  display: none
  background-color: $under-nav-color-dark-blue
  overflow-x: hidden
  overflow-y: hidden

  .sidebar-search
    margin-bottom: 2vw

    p
      padding: 0
      margin: 0 auto
      margin-top: 4vw
      width: 80%

      &:last-child
        margin: 0 auto

      .params-field-search
        width: 100%
        margin: 0
        padding: 0
        height: 2vw
        border-radius: 0.3vw
        background-color: $white
        box-sizing: border-box

        &:focus
          border:
            left: 0.5vw solid $upper-nav-color-blue
            right: 0.5vw solid $upper-nav-color-blue
          transition-property: border
          transition-duration: 0.2s, 0.2s

      .button-search
        margin-top: 0.5vw
        cursor: pointer
        color: $white
        background: none
        font-size: 1.5vw
        font-weight: 300

  .sidebar-params
    height: 100%

    &:last-of-type > a
      font-size: 1.5vw

    .label-f
      color: $white
      font-size: 3.5vmin
      font-weight: 300
      margin: 0.5vw
      padding: 0
      margin-top: 2vw

    .range-f, .recent-f, .letters-f
      padding: 0
      margin: 0 auto

      .params-field-range
        @extend %button-base
        text-align: center
        height: 2vw
        display: block
        background-color: $white
        margin: 0 auto
        width: 50%
        box-sizing: border-box

        &:focus
          border:
            left: 0.5vw solid $upper-nav-color-blue
            right: 0.5vw solid $upper-nav-color-blue
          transition-property: border
          transition-duration: 0.2s, 0.2s

        &:first-of-type
          border: 
            top-left-radius: 0.3vw
            top-right-radius: 0.3vw
          border-bottom: 2px solid #212D5C

        &:last-of-type
          border: 
            bottom-left-radius: 0.3vw
            bottom-right-radius: 0.3vw

      .params-field
        border-radius: 0.3vw
        height: 2vw
        width: 65%
        background-color: $white
        box-sizing: border-box

        &:focus
          border:
            left: 0.5vw solid $upper-nav-color-blue
            right: 0.5vw solid $upper-nav-color-blue
          transition-property: border
          transition-duration: 0.2s, 0.2s

    .button-search
      margin-top: 2vw
      width: 50%
      font-size: 2.5vw
      border-radius: 0.3vw
      background: none
      cursor: pointer
      color: $white
      font-weight: 300

.params-field, .params-field-search, .button-search
  @extend %button-base
  text-align: center
  font-family: $R

/****************/

.voice
  @extend %button-base
  position: absolute
  cursor: pointer
  height: 7.4vmin
  margin: -8.6vmin 0 0 -3vmin

.under-nav
  width: 100%
  background-color: $under-nav-color-dark-blue
  font-size: 2.4vmin
  line-height: 2.4vmin
  box-shadow: 0px 22px 48px -26px rgba(0,0,0,1)
  
  .back-new-link
    @extend %button-base
    color: $white
    font-size: 3vmin
    border-radius: 0 2.8vw 2.8vw 0
    display: inline-block
    margin: 
      left: 3vmin
      right: 3vmin

  .back-link 
    @extend %button-base
    color: $white
    font-size: 3vmin
    margin-left: 2.4vmin
    padding: 
      top: 1.2vmin
      bottom: 1.2vmin
    display: inline-block